body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    /* background-image: linear-gradient(0.25turn,green 0% 50%, black 50% 100%); */
}

#timer {
    font-size: 20vw;
}

.percentage {
    font-size: 4vw;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreen-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#fullscreen-btn:hover {
    background-color: #333;
}

@media (max-width: 1000px) {
    .percentage {
        padding: 0;
    }
}
